* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 30px;
}

/* .header {
  border: 1px solid black;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #99cc60;
} */

.container-top {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  height: 150px;
}

.clearfix {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

a {
  display: block;
  height: 100%;
}
.stats-1 {
  /* display: inline-block; */
  position: absolute;
  left: 25%;
  /* float: left; */
}

#income-stats {
  background-color: #00e676;
  border-radius: 5px 0px;
  padding: 20px;
}

#expense-stats {
  background-color: #ff5252;
  border-radius: 0px 5px;
  padding: 20px;
}

.stats-2 {
  /* display: inline-block; */
  position: absolute;
  right: 25%;
  /* float: right; */
}

#inc-perc {
  display: inline;
  background-color: #00e676;
  margin-right: 0;
  padding-right: 0;
  border: 1px solid black;
}

#exp-perc {
  display: inline;
  margin-left: 0;
  padding-left: 0;
  border: 1px solid black;
  background-color: #ff5252;
}

.add-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 170px;
}

.add__type {
  height: 30px;
}

/* #desc {
  height: 30px;
} */

#add-btn {
  height: 30px;
}

.container-bottom {
  position: relative;
  top: 120px;
}

.list {
  /* border: 1px solid black; */
  width: 50%;
}

.list-type a,
a:link,
a:visited {
  text-align: center;
  text-decoration: none;
  color: black;
}
.activeList {
  background-color: blueviolet;
}
#list-type-income,
#list-type-expense {
  /* border: 1px solid black; */
  font-size: 30px;
  /* margin-left: 20px; */
  width: 50%;
  float: left;
}

.list-type-style {
  background-color: cadetblue;
  /* border: 1px solid blue; */
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.expense-list {
  display: none;
}

.delete-btn {
  display: none;
}

.item {
  padding: 5px;
}
.item:hover .delete-btn {
  background-color: red;
  display: inline;
}

input[type="text"],
input[type="number"] {
  outline: none;
  height: 30px;
}
input[type="text"]:focus {
  border-color: chartreuse;
}
/* .income-list,
.expense-list {
  margin-top: 25px;
} */

.item:nth-of-type(even) {
  background-color: red;
}
.item-desc {
  float: left;
}
.item-value {
  float: right;
}
